<button
  mat-icon-button
  [matMenuTriggerFor]="filterOptions"
  #filterButton="matMenuTrigger"
  (click)="openFilterMenu(filterButton)"
>
  <i class="bi bi-filter"></i>
</button>

<mat-menu #filterOptions="matMenu" class="px-3">
  <div style="max-height: 500px" (click)="$event.stopPropagation()">
    <div class="my-2">
      <app-clear-btn (click)="clearFilters(currentColumn)" />
    </div>

    <input
      type="text"
      name="text"
      class="input"
      placeholder="Search"
      [(ngModel)]="appliedFiltersList.searchTerm"
      (input)="searchFilter()"
    />

    <div>
      <label>Sort Options</label>
      <mat-selection-list
        #sortOpt
        [(ngModel)]="appliedFiltersList.sort"
        [multiple]="false"
        (selectionChange)="
          applyFilter({
            column: currentColumn,
            filter: {
              search: appliedFiltersList.searchTerm,
              sort: sortOpt.selectedOptions.selected[0].value,
              checks: appliedFiltersList.checks
            }
          })
        "
      >
        <mat-list-option value="ascending">Ascending</mat-list-option>
        <mat-list-option value="descending">Descending</mat-list-option>
      </mat-selection-list>
    </div>

    @if(currentColumn == 'Gender' ){
    <hr />
    <mat-selection-list
      [(ngModel)]="appliedFiltersList.checks"
      (selectionChange)="genderSelect($event)"
    >
      <h4>Select genders:</h4>
      @for (gender of genders ; track gender){
      <mat-list-option [value]="gender">{{ gender.display }}</mat-list-option>
      }
    </mat-selection-list>
    }
  </div>
</mat-menu>
