.input {
  width: 100%;
  background-color: #e6e6e6;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  outline: none;
  color: black;
}

.input:focus {
  animation: rotateShadow 2s infinite linear;
}

@keyframes rotateShadow {
  0% {
    box-shadow: -2px -2px 8px 1px #e6e6e6, 2px 2px 8px 1px #ffffff;
  }
  25% {
    box-shadow: -2px 2px 8px 1px #e6e6e6, 2px -2px 8px 1px #ffffff;
  }
  50% {
    box-shadow: 2px 2px 8px 1px #e6e6e6, -2px -2px 8px 1px #ffffff;
  }
  75% {
    box-shadow: 2px -2px 8px 1px #e6e6e6, -2px 2px 8px 1px #ffffff;
  }
  100% {
    box-shadow: -2px -2px 8px 1px #e6e6e6, 2px 2px 8px 1px #ffffff;
  }
}
